.row .col-1 {
  width: 8.333%; }
.row .col-2 {
  width: 16.666%; }
.row .col-3 {
  width: 25%; }
.row .col-4 {
  width: 33.333%; }
.row .col-5 {
  width: 41.666%; }
.row .col-6 {
  width: 50%; }
.row .col-7 {
  width: 58.333%; }
.row .col-8 {
  width: 66.666%; }
.row .col-9 {
  width: 75%; }
.row .col-10 {
  width: 83.333%; }
.row .col-11 {
  width: 91.666%; }
.row .col-12 {
  width: 100%; }
.row .offset-1 {
  margin-left: 8.333%; }
.row .offset-2 {
  margin-left: 16.666%; }
.row .offset-3 {
  margin-left: 25%; }
.row .offset-4 {
  margin-left: 33.333%; }
.row .offset-5 {
  margin-left: 41.666%; }
.row .offset-6 {
  margin-left: 50%; }
.row .offset-7 {
  margin-left: 58.333%; }
.row .offset-8 {
  margin-left: 66.666%; }
.row .offset-9 {
  margin-left: 75%; }
.row .offset-10 {
  margin-left: 83.333%; }
.row .offset-11 {
  margin-left: 91.666%; }
.row > * {
  float: left; }
.row:after {
  clear: both;
  content: "";
  display: table; }
.row.gutter {
  margin: 0 -1rem; }
  .row.gutter > * {
    padding: 0 1rem 2rem; }
  .row.gutter.no-bottom-gutter > * {
    padding-bottom: 0; }
@media (max-width: 1200px) {
  .row.wrap > .col-1,
  .row.wrap > .col-2,
  .row.wrap > .col-3,
  .row.wrap > .col-4,
  .row.wrap > .col-5,
  .row.wrap > .col-6,
  .row.wrap > .col-7,
  .row.wrap > .col-8,
  .row.wrap > .col-9,
  .row.wrap > .col-10,
  .row.wrap > .col-11,
  .row.wrap > .col-12 {
    width: 100%; }
  .row.wrap > .offset-1,
  .row.wrap > .offset-2,
  .row.wrap > .offset-3,
  .row.wrap > .offset-4,
  .row.wrap > .offset-5,
  .row.wrap > .offset-6,
  .row.wrap > .offset-7,
  .row.wrap > .offset-8,
  .row.wrap > .offset-9,
  .row.wrap > .offset-10,
  .row.wrap > .offset-11 {
    margin-left: 0; } }
