@font-face {
	font-family: AlegreyaBold;
	src: url('fonts/Alegreya-Bold.otf');
}
@font-face {
	font-family: AlegreyaItalic;
	src: url('fonts/Alegreya-Italic.otf');
}
@font-face {
	font-family: AlegreyaBoldItalic;
	src: url('fonts/Alegreya-BoldItalic.otf');
}
@font-face {
	font-family: AlegreyaRegular;
	src: url('fonts/Alegreya-Regular.otf');
}

* {
	box-sizing: border-box !important;
}

body {
	width: 100%;
	height: 100%;

	font-family: "AlegreyaRegular", "Georgia", Arial, serif;
	font-size: 22px;
}

.middle-bar {
	background-color: #403C60;
	color: #DFDFE5;
}

.far-left-bar, .left-bar, .middle-bar, .right-bar, .far-right-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;

	transition-property: left, width;
	transition-duration: 1s;
}

.la-far-left {
	.far-left-bar {
		left: 0;
		width: 50%;
	}
	.left-bar {
		left: 50%;
		width: 50%;
	}
	.middle-bar, .right-bar, .far-right-bar {
		left: 100%;
	}
}

.la-far-left-middle {
	.far-left-bar {
		left: 0;
		width: 40%;
	}
	.left-bar {
		left: 40%;
		width: 40%;
	}
	.middle-bar {
		left: 80%;
		width: 20%
	}
	.right-bar, .far-right-bar {
		left: 100%;
	}
}

.la-left {
	.far-left-bar {
		left: -40%;
		width: 40%;
	}
	.left-bar {
		left: 0;
		width: 100%;
	}
	.middle-bar, .right-bar, .far-right-bar {
		left: 100%;
	}
}

.la-left-middle {
	.far-left-bar {
		left: -40%;
		width: 40%;
	}
	.left-bar {
		left: 0;
		width: 80%;
	}
	.middle-bar {
		left: 80%;
		width: 20%
	}
	.right-bar, .far-right-bar {
		left: 100%;
	}
}

.la-middle {
	.far-left-bar {
		left: -40%;
		width: 40%;
	}
	.left-bar {
		left: 0;
		width: 40%;
	}
	.middle-bar {
		left: 40%;
		width: 20%
	}
	.right-bar {
		left: 60%;
		width: 40%;
	}
	.far-right-bar {
		left: 100%;
	}
}

.la-middle-right {
	.far-left-bar, .left-bar {
		left: -40%;
		width: 40%;
	}
	.middle-bar {
		left: 0;
		width: 20%
	}
	.right-bar {
		left: 20%;
		width: 80%;
	}
	.far-right-bar {
		left: 100%;
	}
}

.la-right {
	.far-left-bar, .left-bar, .middle-bar {
		left: -40%;
		width: 40%
	}
	.right-bar {
		left: 0%;
		width: 100%;
	}
	.far-right-bar {
		left: 100%;
	}
}

.la-middle-right-far {
	.far-left-bar, .left-bar {
		left: -40%;
		width: 40%;
	}
	.middle-bar {
		left: 0%;
		width: 20%
	}
	.right-bar {
		left: 20%;
		width: 40%;
	}
	.far-right-bar {
		left: 60%;
		width: 40%;
	}
}

.la-right-far {
	.far-left-bar, .left-bar, .middle-bar {
		left: -40%;
		width: 40%
	}
	.right-bar {
		left: 0;
		width: 50%;
	}
	.far-right-bar {
		left: 50%;
		width: 50%;
	}
}