@import "colors.scss";
@import "fonts.scss";
@import "elements.scss";

* {
	box-sizing: border-box !important;
}

body {
	width: 100%;
	height: 100%;

	background-color: $peter-river;
	color: $clouds;

	.bar {
		bottom: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		position: absolute;
		top: 0;
		transition-duration: 0.3s;
		transition-property: left, width;
		padding: 2px;

		.header {
			height: 40px;
			line-height: 30px;
			padding: 5px;
		}
	}

	.content {
		border-radius: 3px;
		background-color: $belize-hole;
		height: 100%;
		padding: 2px;

		.body {
			padding: 3px;
			height: 150px;
			background-color: $clouds;
			border-radius: 3px;
		}
	}

	.middle {
		border: none;
		border-radius: 0;
		background-color: $peter-river;
		color: $clouds;
		width: 20%;
		padding: 5px;
	}
}

.la-far-left {
	.far-left {
		left: 0;
		width: 50%;
	}
	.left {
		left: 50%;
		width: 50%;
	}
	.middle {
		left: 100%;
		width: 20%;
	}
	.right, .far-right {
		left: 100%;
		width: 40%;
	}
}

.la-far-left-middle {
	.far-left {
		left: 0;
		width: 40%;
	}
	.left {
		left: 40%;
		width: 40%;
	}
	.middle {
		left: 80%;
		width: 20%
	}
	.right, .far-right {
		left: 100%;
		width: 40%;
	}
}

.la-left {
	.far-left {
		left: -40%;
		width: 40%;
	}
	.left {
		left: 0;
		width: 100%;
	}
	.middle {
		left: 100%;
		width: 20%;
	}

	.right, .far-right {
		left: 100%;
		width: 40%;
	}
}

.la-left-middle {
	.far-left {
		left: -40%;
		width: 40%;
	}
	.left {
		left: 0;
		width: 80%;
	}
	.middle {
		left: 80%;
		width: 20%
	}
	.right, .far-right {
		left: 100%;
	}
}

.la-middle {
	.far-left {
		left: -40%;
		width: 40%;
	}
	.left {
		left: 0;
		width: 40%;
	}
	.middle {
		left: 40%;
		width: 20%
	}
	.right {
		left: 60%;
		width: 40%;
	}
	.far-right {
		left: 100%;
		width: 40%;
	}
}

.la-middle-right {
	.far-left, .left {
		left: -40%;
		width: 40%;
	}
	.middle {
		left: 0;
		width: 20%
	}
	.right {
		left: 20%;
		width: 80%;
	}
	.far-right {
		left: 100%;
		width: 40%;
	}
}

.la-right {
	.far-left, .left {
		left: -40%;
		width: 40%
	}
	.middle {
		left: -20%;
		width: 20%;
	}
	.right {
		left: 0%;
		width: 100%;
	}
	.far-right {
		left: 100%;
		width: 40%;
	}
}

.la-middle-right-far {
	.far-left, .left {
		left: -40%;
		width: 40%;
	}
	.middle {
		left: 0%;
		width: 20%
	}
	.right {
		left: 20%;
		width: 40%;
	}
	.far-right {
		left: 60%;
		width: 40%;
	}
}

.la-right-far {
	.far-left, .left {
		left: -40%;
		width: 40%
	}
	.middle {
		left: -20%;
		width: 20%;
	}
	.right {
		left: 0;
		width: 50%;
	}
	.far-right {
		left: 50%;
		width: 50%;
	}
}