<!DOCTYPE html>
<html ng-app="LayoutApp" ng-controller="LayoutController as ctrl" ng-strict-di>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sweet New Column Layout</title>

	<link href="css/css.reset.css" rel="stylesheet">
	<link href="css/grid.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body ng-class="ctrl.layout_class">
	<div class="bar far-left">
		<div class="content">
			<div class="header">Far Left Header</div>
			<div class="body">
				<button ng-click="ctrl.hide_far_left()">Hide Far Left</button>
			</div>
		</div>
	</div>
	<div class="bar left">
		<div class="content">
			<div class="header">Left Header</div>
			<div class="body">
				<button ng-click="ctrl.show_far_left()">Show Far Left</button>
				<button ng-click="ctrl.show_middle()">Show Middle</button>
			</div>
		</div>
	</div>
	<div class="bar middle">
		<div class="header">Middle Header</div>
		<div class="body">
			<button ng-click="ctrl.show_left()">Show Left</button>
			<button ng-click="ctrl.show_right()">Show Right</button>
			<button ng-click="ctrl.hide_middle()">Hide Middle</button>
		</div>
	</div>
	<div class="bar right">
		<div class="content">
			<div class="header">Right Header</div>
			<div class="body">
				<button ng-click="ctrl.show_middle()">Show Middle</button>
				<button ng-click="ctrl.show_right_far()">Show Far Right</button>
			</div>
		</div>
	</div>
	<div class="bar far-right">
		<div class="content">
			<div class="header">Far Right Header</div>
			<div class="body">
				<button ng-click="ctrl.hide_right_far()">Hide Far Right</button>
			</div>
		</div>
	</div>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/site.js"></script>
</body>
</html>